{% extends "::base.html.twig" %} 
{# empty Twig template #}
        {% block head %}
		<meta charset="utf-8"/>
	{% endblock %} 
    {% block body %}
        <body>
            <div class="text-center">
            <a href="http://127.0.0.1:8000/">
                <img src="{{ asset('img/logo_big.png') }}" alt="GSB"/> 
            </a>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-md-1"></div>

                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Libele</th>
                            <th scope="col">Date</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Modifier</th>
                            <th scope="col">Supprimer</th>

                            </tr>
                        </thead>
                        {% if result is defined %}
                            {% for value in result %}
                                <tbody>
                                    <tr>
                                    <td> {{ value.libelle }} </td>
                                    <td> {{ value.date|date('d-m-y')}} </td>
                                    <td> {{ value.montant }} </td>
                                    <td>  <a href="/fichefrais/LigneFHF/modifier/{{value.id}}" class="btn btn-primary"> Modifier</a> </td>
                                    <td>  <a href="/fichefrais/LigneFHF/supprimer/{{value.id}}" class="btn btn-primary" OnClick="return confirm('Voulez-vous vraiment supprimer ce hors forfait ?')"> Supprimer</a> </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

            </div>
        </body>
        </html>

    {% endblock %}
        
    
